In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

### Creating Logistic Regression Model

In [2]:
class LogisticRegression1:
    
    def __init__(self, lr=0.01, n_iters=1000): # default learning rate and no.of iterations
        self.lr = lr
        self.n_iters = n_iters
        self.weight = None
        self.bias = None
        
    def fit(self, X, y):
        
        # no.of training examples and no.of features
        
        n_samples, n_features = X.shape
        
        # weight initialization
        
        self.weight = np.zeros(n_features)
        self.bias = 0
        
        for i in range(self.n_iters):
            
            # calculating Gradients
            
            function = np.dot(X ,self.weight)+self.bias
            y_predicted = self.sigmoid(function)
            
            dw =  (np.dot(np.transpose(X), (y_predicted - y)))/n_samples
            db = (1/n_samples) * np.sum(y_predicted - y)
            
            # updated weights
            
            self.weight -= self.lr * dw
            self.bias -= self.lr * db
            
    def predict(self, X):
        function = np.dot(X ,self.weight)+self.bias
        y_predicted = self.sigmoid(function)
        new_y_predicted = [1 if i > 0.5 else 0 for i in y_predicted]
        return new_y_predicted
            
    # Hypothetical function        
    
    def sigmoid(self, x):
        return (1 / (1 + np.exp(-x)))

### Importing Dataset

In [3]:
data = pd.read_csv("/Users/geethika/Desktop/heart.csv")
df = data.copy()
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
X = df.drop(['target'], axis='columns')
y = df.target
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

### Splitting data into training and testing instances

In [5]:
import random
random.seed(0)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f'Length of Training Data = {len(X_train)}')
print(f'Length of Testing Data = {len(X_test)}')

Length of Training Data = 242
Length of Testing Data = 61

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [7]:
model = LogisticRegression1(lr=0.0001, n_iters=1000)

In [8]:
model.fit(X_train, y_train)

In [9]:
predicted = model.predict(X_test)
print("predicted values by our model: ")
np.array(predicted)

predicted values by our model:

array([0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0])

### To calculate Accuracy of our model

In [10]:
def accuracy(y_true, y_pred):
    accuracy = np.sum(y_true == y_pred) / len(y_true)
    return accuracy

In [11]:
print("Accuracy of our model = ", end = "")
print(accuracy(y_test, predicted)*100)

Accuracy of our model = 86.88524590163934

### Testing with In-Built Model

In [12]:
from sklearn.linear_model import LogisticRegression

model2 = LogisticRegression()
model2.fit(X_train, y_train)

LogisticRegression()

In [13]:
predicted_by_model = model2.predict(X_test)

print(f'Predicted values by In-built model:\n{predicted_by_model}')

Predicted values by In-built model:
[0 1 1 0 1 1 1 0 0 0 1 0 1 0 1 1 1 0 0 0 1 0 0 1 1 1 1 1 0 1 0 0 0 0 1 0 1
 1 1 1 0 1 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 1 0 0 0]

In [14]:
print("Accuracy of In-Built Model = ", end='')
print(accuracy(y_test, predicted_by_model)*100)

Accuracy of In-Built Model = 85.24590163934425